:root {
  --dark-cyan: #3c8067;
  --dark-cyan-hover: #1f4437;
  --cream: #f2ebe3;
  --dark-blue: #1c232b;
  --grey: #6c7289;
  --white: #ffffff;

  --title-font: 'Fraunces', serif;
}

html {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: var(--cream);
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  
  .desktop-only {
    display: block;
  }
}